body {
    background-image: url(/imgs/background.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
}

.boardGame {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    background-color: transparent;
    border-radius: 5vmin;
    text-align: center;
}
#timer{
    margin: auto;
    padding: 1.0vmin;
    background-color: brown;
    color: white;
    border-radius: 2vmin;
    font-size: 4vmin;
    display: flex;
    text-align: center;
}
.cardImage {
    height: 12vmin;
    width: 12vmin;
    display: grid;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
    border: solid black;
    background-color: transparent;
    position:relative;
}

.buttons{
    margin:auto;
    text-align: center;
}
button {
    margin: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    background: peru;
    border-radius: 12px;
    border: none;
    padding: 0;
    outline-offset: 4px;
    width: 25vmin;
    font-size: 4vmin;
  }
  section {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
  }


 
h1 {
    margin-top: 3vmin;
    font-family: 'press start 2p', sans-serif;
    font-size: 3.5vmin;
}

#timer, h2 {
    font-family: 'press start 2p', sans-serif;
    font-size: 1.5vmin;
}

#timer {
    margin-top: 2vmin;
}


main img {
    margin: auto;
    width: 10vmin;
    cursor: pointer;
}

main img:hover {
    transform: scale(1.1);
    transition: transform 150ms;
}

footer {
    font-family: 'press start 2p', sans-serif;
    font-size: 1vmin;
    letter-spacing: 2px;
    color: #DADAEF;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2vmin;
    text-align: center;
    margin: auto;
}
