* {
  font-style: normal;
  font-weight: bold;
  color: black;
  box-sizing: border-box;
}

body {
  height:100vh;
  background-image: url(../imgs/background1.jpg);
  background-position:bottom;
  background: cover;
  border: 5px solid lightcoral;
}
main {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 20vmin);
  grid-template-rows: repeat(4, 20vmin);
  background-color: transparent;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid lightcoral;
}

.modal-content {
  background-color: black;
  margin: 15% auto;
  padding: 3vmin;
  border: 5px solid lightcoral;
  width: 50%;
}

button {
  margin: auto;
  cursor: pointer;
  position: relative;
  background-color: lightcoral;
  border-radius: 12px;
  width: 25vmin;
  font-size: 4vmin;
  color: white;
  text-align: center;
}

h1 {
  font-family: cursive;
}
h2 {
  font-size: 3.0vmin;
}
p {
  font-size: 2.5vmin;
}

footer {
  text-align: center;
  color: black;
  font-size: 10px;
  background-color: lightcoral;
}

.popup {
  background-color: white;
}

img {
  margin: auto;
  width: 15vmin;
  height: 12vmin;
  cursor: pointer;
  transform: scale(1);
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 10px);
  }

  to {
    transform: translate(0, -1px);
  }
}