*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.main {
    background-image: url(/imgs/background.jpg);
    height: 100vh;
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    text-align: center;
    margin:auto;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    box-sizing: border-box;
  }
  

  img {
    height: 100px;
    width: 80px;
    border: solid black;
    background-color: #545566;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    background-color: transparent;
    border-radius: 5vmin;
    text-align: center;
    margin:auto;
    perspective: 1000px;
    position: relative;
    width:100%;
    display: grid;

}
#timer{
    margin: auto;
    padding: 1.0vmin;
    background-color: brown;
    color: white;
    border-radius: 2vmin;
    font-size: 4vmin;
    display: flex;
    text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 3vmin;
    border: 5px solid white;
    width: 30%;
  }
  
  .modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 2vmin;
    font-weight: bold;
    cursor: pointer;
  }
  
  .modal-close:hover,
  .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  

.buttons{
    margin:auto;
    text-align: center;
}
button {
    margin: auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    background: peru;
    border-radius: 12px;
    border: none;
    padding: 0;
    outline-offset: 4px;
    width: 25vmin;
    font-size: 4vmin;
  }
  section {
    display: flex;
    flex-direction:row;
    align-items: center;
    text-align: center;
  }


 
h1 {
    margin-top: 5vmin;
    font-family: cursive;
    font-size: 4.5vmin bold;
}

/* .timer, h2, .result, {
    font-size: 2.5vmin;
    background-color: white;
} */

footer {
    text-align: center;
}


section img {
    margin: auto;
    width: 10vmin;
    cursor: pointer;
}

.popup {
    background-color: white;
}

img {
    transform: scale(1);

}
img:active {
    transform: scale(0.97);
    transition: transform .2s;
}
